



.brain
{
 
display: flex;
flex-direction: column-reverse;
 
}
code{
 background-color: #eff0f1;
}
.left
{
 width:50%;
}
.right
{
 width:50%;
}
.row {
 display: flex;
 
}
.imgClass{
    position: absolute;
    right:0rem;
    padding-right: 0rem;
    margin-right: 0rem;
}

.column {
 flex: 33.33%;
 padding: 5px;
}
.typewriter {
 font-family: Courier, monospace;
display: inline-block;
}

.typewriter-text {
 display: inline-block;
overflow: hidden;
white-space: nowrap;
letter-spacing: 1px;
animation: typing 3s steps(30, end), blink .75s step-end infinite;
padding-left: 1rem;
animation-delay:2s;
margin-bottom: 2rem;
 font-size: 30px;
 font-weight: 700;
 border-right: 4px solid orange;
 box-sizing: border-box;
 
}
.typewriter-text-two {
 display: inline-block;
overflow: hidden;
padding-left: 1rem;
visibility: hidden;
letter-spacing: 2px;
animation: typing 5s steps(30, end), blink .75s step-end infinite;
 white-space: nowrap;
 font-size: 30px;
 font-weight: 700;
 border-right: 4px solid orange;
 box-sizing: border-box;
 
 animation-delay: 5s;
 animation-fill-mode: both;
}

@keyframes typing {
 from { 
     width: 0% ;
     visibility: hidden;

 }
 to { 
     width: 100% ;
     visibility:visible;
     opacity: 1;;
 }
}

@keyframes blink {
 from, to { 
     border-color: transparent 
 }
 50% { 
     border-color: orange; 
 }
}
